In [15]:
import pandas as pd

In [16]:
base_dir = '../dataset/train/'
train1 = pd.read_csv(base_dir + 'train85_1.csv')
train2 = pd.read_csv(base_dir + 'train85_2.csv')
train3 = pd.read_csv(base_dir + 'train85.csv')
train4 = pd.read_csv(base_dir + 'train85.csv')

In [17]:
len(train1), len(train2), len(train3)

(27599, 27599, 27599)

In [18]:
train1.head(10)

,id,sentence,subject_entity,object_entity,label
0,14034,광주여대(총장 이선재) 평생교육원은 13일 어등관 1층 3104호 강의실에서 201...,'광주여대','이선재',org:top_members/employees
1,11248,"곽상도 자유한국당 의원실이 입수한 서울중앙지법 결정문에 따르면, 이씨는 취업 심사 ...",'곽상도','자유한국당',per:employee_of
2,9577,"보수당 총리 처칠, 앤서니 이든, 해럴드 맥밀런, 알렉 더글러스 홈은 1950년대와...",'앤서니 이든','보수당',per:employee_of
3,14890,"민주평화당 정동영(전북 전주병) 대표 그래서 가 30일 도널드 , 트럼프 미국 대통...",'민주평화당','정동영',org:top_members/employees
4,12544,2005년 5월 26일 테네시주 내슈빌의 택배 회사인 러시 택배의 운용 관리자였던 ...,'로버트 F. 케네디','존 F. 케네디',no_relation
5,27447,"윤치호는 자신의 일기에 기록으로 남겼고, 윤치호는 안창호와 신흥우, 여운형 등을 비...",'여운형','독립운동가',per:title
6,1665,"2006년 1월 13일에, 코나미의 온라인 스토어인 코나미스타일한정으로, 앨범「iF...",'코나미','2006년',no_relation
7,13859,마이클 조던의 첫 은퇴 탈문이 있는 동안 유잉은 1994년 NBA 결승전으로 닉스를...,'마이클 조던','NBA',per:employee_of
8,3510,1921년 6월 자유시참변(自由市慘變) 발생 후 그래서 상해파 고려공산당의 간부들이...,'김립','상하이',per:place_of_death
9,27842,8일 조선대에 따르면 ‘KSA GOOD SERVICE 컨텐츠 크리에이터’는 한국표준...,'한국표준협회','KSA GOOD SERVICE 컨텐츠 크리에이터',no_relation

In [19]:
train2.head(10)

,id,sentence,subject_entity,object_entity,label
0,14034,광주여대(총장 이선재) 평생교육원은 13일 어등관 1층 3104호 강의실에서 201...,'광주여대','이선재',org:top_members/employees
1,11248,"곽상도 자유한국당 의원실이 입수한 서울중앙지법 결정문에 따르면, 이씨는 취업 심사 ...",'곽상도','자유한국당',per:employee_of
2,9577,"보수당 총리 처칠, 앤서니 이든, 해럴드 맥밀런, 알렉 더글러스 홈은 1950년대와...",'앤서니 이든','보수당',per:employee_of
3,14890,민주평화당 정동영(전북 전주병) 대표가 30일 도널드 트럼프 미국 대통령과 김정은 ...,'민주평화당','정동영',org:top_members/employees
4,12544,2005년 5월 26일 테네시주 내슈빌의 택배 회사인 러시 택배의 운용 관리자였던 ...,'로버트 F. 케네디','존 F. 케네디',no_relation
5,27447,"윤치호는 이를 자신의 일기에 기록으로 남겼고, 윤치호는 안창호와 신흥우, 여운형 등...",'여운형','독립운동가',per:title
6,1665,"2006년 1월 13일에, 코나미의 온라인 스토어인 코나미스타일한정으로, 앨범「iF...",'코나미','2006년',no_relation
7,13859,마이클 조던의 첫 은퇴 탈문이 있는 동안 유잉은 1994년 NBA 결승전으로 닉스를...,'마이클 조던','NBA',per:employee_of
8,3510,1921년 6월 자유시참변(自由市慘變) 발생 후 상해파 고려공산당의 간부들이 거의 ...,'김립','상하이',per:place_of_death
9,27842,8일 조선대에 따르면 ‘KSA GOOD SERVICE 컨텐츠 크리에이터’는 한국표준...,'한국표준협회','KSA GOOD SERVICE 컨텐츠 크리에이터',no_relation

In [20]:
train3.head(10)

,Unnamed: 0,id,sentence,subject_entity,object_entity,label,source
0,14034,14034,광주여대(총장 이선재) 평생교육원은 13일 어등관 1층 3104호 강의실에서 201...,"{'word': '광주여대', 'start_idx': 0, 'end_idx': 3,...","{'word': '이선재', 'start_idx': 8, 'end_idx': 10,...",org:top_members/employees,wikitree
1,11248,11248,"곽상도 자유한국당 의원실이 입수한 서울중앙지법 결정문에 따르면, 이씨는 취업 심사 ...","{'word': '곽상도', 'start_idx': 0, 'end_idx': 2, ...","{'word': '자유한국당', 'start_idx': 4, 'end_idx': 8...",per:employee_of,wikipedia
2,9577,9577,"보수당 총리 처칠, 앤서니 이든, 해럴드 맥밀런, 알렉 더글러스 홈은 1950년대와...","{'word': '앤서니 이든', 'start_idx': 11, 'end_idx':...","{'word': '보수당', 'start_idx': 0, 'end_idx': 2, ...",per:employee_of,wikipedia
3,14890,14890,민주평화당 정동영(전북 전주병) 대표가 30일 도널드 트럼프 미국 대통령과 김정은 ...,"{'word': '민주평화당', 'start_idx': 0, 'end_idx': 4...","{'word': '정동영', 'start_idx': 6, 'end_idx': 8, ...",org:top_members/employees,wikitree
4,12544,12544,2005년 5월 26일 테네시주 내슈빌의 택배 회사인 러시 택배의 운용 관리자였던 ...,"{'word': '로버트 F. 케네디', 'start_idx': 123, 'end_...","{'word': '존 F. 케네디', 'start_idx': 109, 'end_id...",no_relation,wikipedia
5,27447,27447,"윤치호는 이를 자신의 일기에 기록으로 남겼고, 윤치호는 안창호와 신흥우, 여운형 등...","{'word': '여운형', 'start_idx': 41, 'end_idx': 43...","{'word': '독립운동가', 'start_idx': 52, 'end_idx': ...",per:title,wikipedia
6,1665,1665,"2006년 1월 13일에, 코나미의 온라인 스토어인 코나미스타일한정으로, 앨범「iF...","{'word': '코나미', 'start_idx': 15, 'end_idx': 17...","{'word': '2006년', 'start_idx': 0, 'end_idx': 4...",no_relation,wikipedia
7,13859,13859,마이클 조던의 첫 은퇴 탈문이 있는 동안 유잉은 1994년 NBA 결승전으로 닉스를...,"{'word': '마이클 조던', 'start_idx': 0, 'end_idx': ...","{'word': 'NBA', 'start_idx': 33, 'end_idx': 35...",per:employee_of,wikipedia
8,3510,3510,1921년 6월 자유시참변(自由市慘變) 발생 후 상해파 고려공산당의 간부들이 거의 ...,"{'word': '김립', 'start_idx': 161, 'end_idx': 16...","{'word': '상하이', 'start_idx': 181, 'end_idx': 1...",per:place_of_death,wikipedia
9,27842,27842,8일 조선대에 따르면 ‘KSA GOOD SERVICE 컨텐츠 크리에이터’는 한국표준...,"{'word': '한국표준협회', 'start_idx': 42, 'end_idx':...","{'word': 'KSA GOOD SERVICE 컨텐츠 크리에이터', 'start_...",no_relation,wikitree

In [21]:
lst1 = list(train1['sentence'])
lst2 = list(train2['sentence'])
lst3 = list(train3['sentence'])
differ = []
for i in range(len(train1)):
    if lst1[i] != lst2[i] or lst2[i] != lst3[i] or lst3[i] != lst1[i]:
        differ.append(i)
len(differ)

20595

In [22]:
result = pd.concat([train1, train2, train3, train4], axis=0)
len(result)//3

36798

In [23]:
result.head()

,id,sentence,subject_entity,object_entity,label,Unnamed: 0,source
0,14034,광주여대(총장 이선재) 평생교육원은 13일 어등관 1층 3104호 강의실에서 201...,'광주여대','이선재',org:top_members/employees,NaN,NaN
1,11248,"곽상도 자유한국당 의원실이 입수한 서울중앙지법 결정문에 따르면, 이씨는 취업 심사 ...",'곽상도','자유한국당',per:employee_of,NaN,NaN
2,9577,"보수당 총리 처칠, 앤서니 이든, 해럴드 맥밀런, 알렉 더글러스 홈은 1950년대와...",'앤서니 이든','보수당',per:employee_of,NaN,NaN
3,14890,"민주평화당 정동영(전북 전주병) 대표 그래서 가 30일 도널드 , 트럼프 미국 대통...",'민주평화당','정동영',org:top_members/employees,NaN,NaN
4,12544,2005년 5월 26일 테네시주 내슈빌의 택배 회사인 러시 택배의 운용 관리자였던 ...,'로버트 F. 케네디','존 F. 케네디',no_relation,NaN,NaN

In [24]:
result.to_csv(base_dir + 'train_aug.csv')