In [18]:
import pandas as pd
import random
import seaborn as sns
import pickle

In [30]:
empty = pd.DataFrame()

pd_dataset = pd.read_csv("../dataset/train/train.csv")

In [76]:
def data_pruning(dataset):
    dataset = pd.DataFrame(dataset)
    data0 = dataset.loc[dataset['label'] == 'no_relation']
    data1 = dataset.loc[dataset['label'] == 'org:top_members/employees']
    data6 = dataset.loc[dataset['label'] == 'per:employee_of']
    others = dataset.loc[dataset['label'] != 'no_relation']#& dataset['label'] != 'org:top_members/employees' & dataset['label'] != 'per:employee_of']
    
    for id in range(len(data0)):
        prob = random.randint(0,10)
        if prob >= 7:
             data0 = data0.drop(data0[data0.id == id].index)
    dataset = pd.concat([data0,others])
    
    return dataset

In [77]:
data = data_pruning(pd_dataset)

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia
6,6,그에 따라 나폴리와 계약을 연장한 마라도나는 1989년 팀을 UEFA컵 정상으로 인...,"{'word': 'AC 밀란', 'start_idx': 64, 'end_idx': ...","{'word': '1989', 'start_idx': 25, 'end_idx': 2...",no_relation,wikipedia
14,14,"조토 디 본도네, 마사초, 피에로 델라 프란체스카, 도메니코 기를란다요, 페루지노,...","{'word': '미켈란젤로', 'start_idx': 47, 'end_idx': ...","{'word': '르네상스', 'start_idx': 96, 'end_idx': 9...",no_relation,wikipedia
16,16,"이정미 대표도 이날 기자회견에 앞서 한 라디오 방송에 출연 ""정개특위를 한국당에 내...","{'word': '이정미', 'start_idx': 0, 'end_idx': 2, ...","{'word': '정의당', 'start_idx': 136, 'end_idx': 1...",no_relation,wikitree
19,19,"이번 포럼은 제주개발공사와 유네스코 아시아-태평양 본부, 한국지질자원연구원이 공동 ...","{'word': '한국수자원공사', 'start_idx': 75, 'end_idx'...","{'word': '환경부', 'start_idx': 70, 'end_idx': 72...",no_relation,wikitree
...,...,...,...,...,...,...
32464,32464,KIA타이거즈 외야수 이창진이 롯데백화점 광주점이 시상하는 9월 월간 MVP에 선정...,"{'word': '이창진', 'start_idx': 12, 'end_idx': 14...","{'word': '외야수', 'start_idx': 8, 'end_idx': 10,...",per:title,wikitree
32465,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",per:employee_of,wikitree
32466,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia
32467,32467,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 ...,"{'word': '완도군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '신우철', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree
32469,32469,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,"{'word': '화순군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree

In [ ]:
with open('dict_label_to_num.pkl', 'rb') as f:
    dict_label_to_num = pickle.load(f)
sns.countplot(data = data , x = "whatever")